body {
    margin: 0;
    overflow: hidden;
    background: #000;
}

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

/* Ensures hit circles are not clipped at the bottom */
#gameCanvas {
    display: block;
    position: absolute;
    bottom: 0; /* Align canvas with bottom of the viewport */
}
